h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 7vmin);
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    user-select: none;
}

.spacer {
    height: 50%;
}

hr {
    border: solid 1px rgb(255, 255, 255);
}

hr.top {
    position: fixed;
    bottom: 150px;
}

#footer {
    color: white;
    font-size: calc(10px + 2vmin);
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 20rem;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 3vmin);
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


hr {
    width: 99% !important;
}


.float-children{
    width: 50%;
    float: left;
    margin:15px 0px 40px;
}

div.container-1 {
    width: 33%;
    border-right: solid;
}
div.container-2 {
    width: 33%;
    border-right: solid;
}


div.games-infos-container h2 {
    display: flex;
    flex-direction: column;
    font-size: calc(1px + 4vmin);
    font-style: italic;
    color: rgb(162, 228, 222);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    user-select: none;
    margin: 20px !important;
    text-decoration:underline;
}


.games-infos-container a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size:calc(2px + 2vmin);
}

.games-infos-container a:hover {
    text-decoration: wavy;
    color: white;
}

.games-infos-container a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
    transform: scaleY(1.5);
}

div.games-infos-container ul li {
    list-style-type: none;
    font-size: calc(2px + 2vmin);
    font-style:;

}

div.games-infos-container h3{
    display: flex;
    flex-direction: column;
    font-size: calc(1px + 2.5vmin);
    font-style: ;
    color: rgb(205, 216, 185);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    user-select: none;
    margin: 20px !important;    
}